.left-box h1 {
    font-size: 3.2em;

}

#home {
    font-family: 'Dancing Script', cursive;
}


.about{
    font-family: 'Dancing Script', cursive;
}
.right-about-box h1{
    font-family: 'Dancing Script', cursive;

}
.navbar-nav li:hover {
    transform: scale(1.1);
    transition: 0.3s linear;
}