
.left-box h1 {
    font-size: 3.2em;

}

#home {
    font-family: 'Dancing Script', cursive;
}


.about{
    font-family: 'Dancing Script', cursive;
}
.right-about-box h1{
    font-family: 'Dancing Script', cursive;

}
.navbar-nav li:hover {
    transform: scale(1.1);
    transition: 0.3s linear;
}
.service-card:hover{
transform: scale(1.05);
transition: all 0.5s  linear ;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 35px;
    margin-right: 15px;
    display: inline-block;
}

.social-icons a:hover {
    color: #131212;
    background-color: aliceblue;
}

.top-btn {

    position: fixed;
    bottom: 35px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
.top-btn:hover{
    transform: scale(1.25);
    transition: all 0.3s 0.2s linear;
}
